/****************************
*  Start of Interactive CSS 
*****************************/
/* =================================
Button Transitions
==================================== */

.page-id-37 .button {
transition: background .3s;
}

.page-id-37 .button:hover {
background: rgba(74,137,202, 1);
}

/* =================================
Photo 3D Transforms & Transitions
==================================== */

.page-id-37 .cube-container {
perspective: 800px;
}

.page-id-37 .photo-cube {
transition: transform 2s ease-in-out;
width: 220px;
height: 200px;
transform-style: preserve-3d;
}

.page-id-37 .photo-cube:hover {
transform: rotateY(-270deg) ;
}

.page-id-37 .front,
.page-id-37 .back,
.page-id-37 .left,
.page-id-37 .right {
width: 100%;
height: 100%;
display: block;
position: absolute;
}

.page-id-37 .front {
transform: translateZ(110px);
}

.page-id-37 .back {
transform: translateZ(-110px) rotateY(270deg);
transform-origin: center left;
}

.page-id-37 .left {
transform: rotateY(-270deg) translateX(110px);
transform-origin: top right;
}

.page-id-37 .right {
transform: translateZ(-110px) rotateY(180deg);
}

/****************************
*  Start of Main CSS 
*****************************/

/* =================================
Base Element Styles
==================================== */
.page-id-37 * {box-sizing: border-box;}

.page-id-37 body {font: 1em/1.5 'Open Sans', sans-serif;color: #373737;background: #eaeaea;margin: 0;}

.page-id-37 a {text-decoration: none;}

.page-id-37 h1,.page-id-37 h2,.page-id-37 h3 {text-transform: uppercase;}

.page-id-37 h2 {font-size: 1.125em;color: #4a89ca;font-weight: 600;margin: 0;}

.page-id-37 h3 {font-size: 1.3em;line-height: 1.25em;margin-top: .85em;margin-bottom: .5em;}

.page-id-37 p {line-height: 1.4;margin: 0 0 1.5em;}

/* =================================
Base Layout Styles
==================================== */

/* —- Layout Containers —- */
.page-id-37 .container, .content {margin: auto;}

.page-id-37 .container {width: 94.02985075%;max-width: 1260px;background: #fff;}

.page-id-37 .main-header {text-align: center;padding: 2.8em 0 3.8em;}

.page-id-37 .cube-container {max-width: 200px;text-align: center;margin: 0 auto 4.5em;}

/* —- Page Elements —- */

.page-id-37 .name {font-size: 1.65em;font-weight: 800;margin: 0 0 1.5em;line-height: 1;}

.page-id-37 .name span {font-weight: 300;margin-left: -7px;}

.page-id-37 .logo {width: 45px;margin-bottom: .4em;cursor: pointer;}

.page-id-37 .button {font-size: .8em;color: #fff;width: 90%;line-height: 1.15;font-weight: 700;display: block;text-decoration: none;text-transform: uppercase;padding: .95em 0;border-radius: .5em;background: rgba(74,137,202, .8);margin: auto;}

/* —- Photo Overlay —- */

.page-id-37 .photo-desc {font-size: .85em;color: #fff;padding: 1.1em 1em 0;background: #345d88;}
/* —- Float clearfix —- */


/**/
.page-id-37 .clearfix::after {content: ' ';display: table;clear: both;}

/* =================================
Media Queries
==================================== */

@media (min-width: 769px) {.page-id-37 .cube-container {float: left;margin-left: 16.6%;}}

@media (min-width: 1025px) {.page-id-37 .cube-container:first-child {margin-left: 0;}.page-id-37 .cube-container:last-child{float: right;}.page-id-37 .content {max-width: 900px;margin: auto;}}
